﻿@model FirstApplications.Models.GuestResponse

 @{
     Layout = null;
 }

 <!DOCTYPE html>
 <html>
 <head>
     <meta name="viewport" content="width=device-width" />
     <title>RsvpForm</title>
     <link rel="stylesheet" href="/css/styles.css" />
     <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
 </head>
 <body>
     <h5 class="bg-primary text-white text-center m-2 p-2">RSVP</h5>
     <form asp-action="RsvpForm" method="post" class="m-2">
         <div asp-validation-summary="All"></div>
 <div class="form-group">
             <label asp-for="Name">Your name:</label>
             <input asp-for="Name" class="form-control" />
         </div>
         <div class="form-group">
             <label asp-for="Email">Your email:</label>
             <input asp-for="Email" class="form-control" />
         </div>
         <div class="form-group">
             <label asp-for="Phone">Your phone:</label>
             <input asp-for="Phone" class="form-control" />
         </div>
         <div class="form-group">
             <label>Will you attend?</label>
             <select asp-for="WillAttend" class="form-control">
                 <option value="">Choose an option</option>
                 <option value="true">Yes, I'll be there</option>
                 <option value="false">No, I can't come</option>
             </select>
         </div>
         <button type="submit" class="btn btn-primary">Submit RSVP</button>
     </form>
 </body>
 </html>
